<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
 <link rel="stylesheet" href="/styles/401.css">
</head>
<body>
  <main>
    <h1 class="emoji"></h1>
    <h2>401 Not authenticated!</h2>
    <p>You are not authenticated!</p>
    <p><a class="btn" href="/">Back to safety!</a></p>
  </main>