<!DOCTYPE html>
<html>
<head>
  <title>Student</title>
  <link rel="stylesheet" type="text/css" href="/styles/student-public.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1>Code2Clear
  <div class="dropdown" style="position: absolute; top: 15px; right: 10px;">
    <button class="profile-button" >...</button>
    <div class="dropdown-content" id="dropdownContent">
      <a href="#">My profile</a>
      <form action="/logout" method="post">
        <button>Log out</button>
        </form>
  </div>
</h1>  <div class="main-container">
    <div class="comment-container">
      <h2>Comments</h2>
    </div>
    <div class="code-container">
      <div id="code-display"><%=code%></div>
        <a href="/student/private" id="private-button">Private</a>
        </form>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/scripts/student-script.js"></script>
</body>
</html>

