/* index.css */


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto;
  }
  .notification-container {
    height: 400px;
    padding: 20px;
    background-color: #ddd;
    border-radius: 8px;
    margin-right: 10px;
    width: 200px; 
  }
  
  .notification-container h2 {
    color: #007bff;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .code-container {
    flex: 1;
    padding-right: 10px;
    width: 100%;
  }
  #private-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  #code-box {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }
  
  #code-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  
  
  #button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #broadcast-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #broadcast-button:hover {
    background-color: #0056b3;
  }
  #button:hover {
    background-color: #0056b3;
  }
  #private-button:hover {
    background-color: #0056b3;
  }
  
  #code-display {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }